.users{
    display: none;
    height: 1000px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 10;

}

.user{
    display: block;
}
/* 
bg-white fixed z-10 w-8/12 h-2/3 translate-x-[18%] translate-y-[20%] top-[-600px] transition duration-[1s] */

.inside{
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 10;
    width: 66%;
    height: 70%;
    top: -80%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    transition: .3s;
}

.showInside{
    top:55%
}

.close{
    position: fixed;
    right: 20px;
    top: 0px;
    font-size: 40px;
    cursor: pointer;
}
